<mat-card class="content-card">
    <mat-card-header>
      <mat-card-title>Macros Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Macros data or operations.
    </mat-card-content>
  </mat-card>



<!-- Can add post or other info -->
  <!-- <mat-card class="card">
    <mat-card-content>
      <form (submit)="onAddPost(postForm)" #postForm = "ngForm">
      <mat-form-field class="buttoncon">
        <input matInput type="text" name="title"
        ngModel required minlength="3" #title = "ngModel">
        <mat-error *ngIf="title.invalid">Invalid title operation</mat-error>
      </mat-form-field>
      <mat-form-field class="buttoncon">
        <textarea matInput
        rows="10"
        name="content"
        ngModel required #content="ngModel">
      </textarea>
      <mat-error *ngIf="content.invalid">Invalid content operation</mat-error>
      </mat-form-field>
      <textarea rows="10" [value]="anypost" #mypost></textarea>-->
      <!--<textarea rows="5" [(ngModel)]="binding"></textarea>-->
      <!-- <div class="buttoncon">
        <button class="file-button">Submit</button>
      </div>
      </form>
    </mat-card-content>
  </mat-card> -->
